* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
    font-family: "Montserrat", serif;
}

:root {
    --darkest: #33212B;
    --dark: #43303B;
    --mid-dark: #5D4954;
    --medium: #7E6975;
    --mid-light: #A18B97;
    --light: #C3ABB8;
    --lightest: #EBD3DF;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: var(--lightest);
    color: var(--darkest)
}

#titulo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 40px;
}

h1 {
    font-family: "playwrite AU SA", serif;
    color: var(--mid-light);
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    padding: 1rem;
    color: var(--darkest);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

h3 {
    padding: 1rem;
    color: var(--mid-light);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0.5rem 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start {
    display: flex;
    justify-content: flex-start;
}

#header_content {
    height: 100%;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--darkest);
    box-shadow: 0 5px 6px var(--mid-light);
}

#menu li {
    display: inline;
    padding: 1rem;
}

#menu li a {
    text-decoration: none;
    color: var(--lightest);
    font-size: 20px;
}

#menu li a:hover {
    color: var(--mid-light);
    text-decoration: underline;
}

#about {
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
    gap: 1rem;
}

#conteudo {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;
}

/* .img_profile {
    width: 400px;
}  */

#imagem {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#sombra {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    height: 100%;
    background: radial-gradient(var(--dark) 10%, var(--mid-dark) 30%, var(--mid-light) 50%,var(--light) 60%, var(--lightest) 75%);
    box-shadow: 10px 10px 12px var(--lightest), -10px -10px 12px var(--lightest);
    animation: animateBorderRadius2 10s infinite alternate;
}

#minha-foto {
    max-width: 80%;
    background-color: var(--mid-dark);
    box-shadow: 10px 10px 12px var(--mid-light), -10px -10px 12px var(--mid-light);
    animation: animateBorderRadius 10s infinite alternate;
}

@keyframes animateBorderRadius {
    0% {
        border-radius:  34% 49% 37% 59%;
    }
    25% {
        border-radius: 59% 37% 49% 34%;
    }
    50% {
        border-radius:  49% 34% 59% 37%;
    }
    75% {
        border-radius: 34% 49% 37% 59%;
    }
    100% {
        border-radius: 59% 37% 49% 34%;
    }
}

@keyframes animateBorderRadius2 {
    0% {
        border-radius: 59% 37% 49% 34%;
    }
    25% {
        border-radius: 34% 49% 37% 59%; 
    }
    50% {
        border-radius:  49% 34% 59% 37%;
    }
    75% {
        border-radius: 59% 37% 49% 34%;
    }
    100% {
        border-radius: 34% 49% 37% 59%;
    }
}

#video {
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
    gap: 1rem;
}

footer {
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    color: var(--lightest);
    background-color: var(--darkest);
    font-weight: bold;
    text-align: center;
}

.footer_contato {
    position: fixed;
    width: 100%;
    bottom: 0;
}

#redes_sociais {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0 0 0;
    width: 320px;
}

.social_icon {
    width: 4rem;
    height: 4rem;
    filter: brightness(0) 
            saturate(100%) 
            invert(95%) 
            sepia(5%) 
            saturate(1422%) 
            hue-rotate(285deg) 
            brightness(96%) 
            contrast(91%);
}

.social_icon:hover {  
    filter: brightness(0) 
            saturate(100%) 
            invert(99%) 
            sepia(2%) 
            saturate(7428%) 
            hue-rotate(281deg) 
            brightness(77%) 
            contrast(94%);
}

#contact {
    flex-direction: row;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 2rem 0;
    padding: 1.5rem;
    border: none;
}

form label {
    font-size: 1rem;
    text-align: left;
    font-weight: 500;
}

form input, textarea {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
    border: none;
    width: 100%;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 5rem;
}

form span{
    margin: 0 0 0.5rem 0.75rem;
    font-size: 0.90rem;
    font-weight: 500;
    line-height: 1rem;
    color: #b20136;
}

form button {
    text-align: center;
    padding: 0.75rem 2rem;
    background: var(--mid-dark);
    border: 1px solid var(--dark);
    color: var(--lightest);
    border-radius: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
}

form button:hover {
    background: var(--dark);
}

#mapa {
    width: 480px;
    flex-direction: column;
    gap: 2rem;
}

iframe {
    border-radius: 1rem;
    box-shadow: 5px 5px 6px var(--mid-light), -5px -5px 6px var(--mid-light);
}

.endereco {
    font-size: 1rem;
    text-align: justify;
    font-weight: 600;
}



